mixin icon(type)
  i(class="fa fa-" + type)

mixin editButton(actionEdit)
  button.btn.btn-primary.muokkaa(ng-hide="$$ekEditing || versio" ng-click=actionEdit)&attributes(attributes)
    +icon("pencil")

mixin historia(versio, uusin, actionEdit, actionRevisions, actionPalauta, restoreNew)
  .ylapalkki
    .pull-left
      p
        span
          b(kaanna="'muokattu'")
        span(ng-bind=uusin + ".date | aikaleima")
      p
        span
          b(kaanna="'muokkaaja'")
        span(ng-bind=uusin + ".muokkaaja")

    .pull-right
      +editButton(actionEdit)

    .pull-right
      p
        span
          b(kaanna="'versio'")
        a(href="" ng-click=actionRevisions)
          span(ng-bind=uusin + ".id")

  div(ng-show="versio")
    br
    .alert.alert-info(role="alert")
      div(kaanna="'tarkastelet-vanhempaa-versiota'")
      div
        a(href="" ng-click=actionPalauta)
          b(kaanna="'ota-versio-kayttoon'")
        span=" "
        span(kaanna="'tai'")
        span=" "
        a(href="" ng-click=restoreNew)
          b(kaanna="'palaa-uusimpaan'")

mixin ekinput(model)
  div(ng-show="$$ekEditing")
    input.form-control(slocalized ng-model=model type="text" required="true")
  div(ng-hide="$$ekEditing")
    p(ng-bind=model + "| kaanna")


+historia("versio", "uusin", "edit()", "listRevisions()", "restoreRevision()", "restoreNew()")
.tiedot
  .tekstit
    .container-fluid
      h3(kaanna="'tiedot'")
      .row
        .col-xs-4: span(kaanna="'nimi'")
        .col-xs-8: +ekinput("yhteiset.nimi")
        .col-xs-4: span(kaanna="'tiivistelma'")
        .col-xs-8: +ekinput("yhteiset.kuvaus")
