div.ylanavi(sticky, className="ylanavi-sticky")
  div.row
    div.col-xs-8
      ol.breadcrumb
        li
          a(ui-sref="root")
            span.glyphicon.glyphicon-home
        li
          a(ui-sref="root.koulutustoimija") koulutustoimija
        li
          a(href="") 42
        li
          a(href="") ops
        li
          a(href="") 1

    div.col-xs-4
      div.pull-right
        span.ohje(ng-show="helpUrl")
          span.popover-element.badge(
            uib-popover-template="helpUrl"
            popover-trigger="mouseenter"
            popover-animation="true"
            popover-placement="bottom"
            popover-title="{{ 'apuotsikko' | kaanna }}") ?
        span.dropdown.kielivalitsin
          span sisalto-kieli
          span=": "
          span
            a.action-link.dropdown-toggle(data-toggle="dropdown", style="cursor: pointer;") fi
              span.caret
            ul.dropdown-menu.dropdown-menu-right
              li(ng-repeat="kieli in langs")
                a(href="" kaanna="kieli")

