div.ylanavi(sticky, className="ylanavi-sticky")
  div.row
    div.col-xs-8
      ol.breadcrumb
        li
          a(href="" ui-sref="root" ui-sref-opts="{ reload: true }")
            span.glyphicon.glyphicon-home
        li(ng-repeat="muru in muruPath")
          a(href="" ui-sref="{{ muru.state }}" ui-sref-opts="{ reload: true }")
            span(kaanna="muru.name")
    div.col-xs-4
      div.pull-right
        span.dropdown.kielivalitsin
          span(kaanna="'sisalto-kieli'")
          span=": "
          span
            a.action-link.dropdown-toggle(data-toggle="dropdown" kaanna="currentLang")
              span.caret
            ul.dropdown-menu.dropdown-menu-right
              li(ng-repeat="kieli in langs")
                a(href="" kaanna="kieli" ng-click="selectLang(kieli)")

        span.ohje.popover-element.fa-stack.fa-lg(
          style="color: #199dd0;"
          ng-show="helpUrl"
          uib-popover-template="helpUrl"
          popover-trigger="mouseenter"
          popover-animation="true"
          popover-placement="bottom-right"
          popover-title="{{ 'nakyma-ohje' | kaanna }}")
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-info.fa-stack-1x.fa-inverse
