.ylanavi(sticky className="ylanavi-sticky")
  .row
    .col-xs-8
      ol.breadcrumb
        li
          a(href="" ui-sref="root" ui-sref-opts="{ reload: true }")
            img.murukuva(src="images/md/ikoni-eperusteet.png")
        li(ng-repeat="muru in muruPath")
          a(href="" ui-sref="{{ muru.state }}" ui-sref-opts="{ reload: true }")
            span(ng-bind="muru.name | kaanna")
    .col-xs-4
      .pull-right
        +kielivalitsin
      .pull-right
        button.btn.btn-primary.btn-sm(
          ng-click="toggleTiedotteet()"
          ng-show="{{ 'root.koulutustoimija.detail' | isState }}"
          ng-class="{ 'btn-danger': $$hasTiedotteet }")
          +gicon("bell")
      .pull-right
        button.btn.btn-primary.btn-sm(
          style="margin-right: 5px; color: #ffffff;"
          ng-show="helpUrl"
          type="button"
          uib-popover-template="helpUrl"
          popover-animation="true"
          popover-placement="bottom-right"
          popover-title="{{ 'nakyma-ohje' | kaanna }}")
          b(style="padding: 0 3px 0 3px;")
            +icon("info")
