div.ylanavi(sticky className="ylanavi-sticky")
  div.row
    div.col-xs-8
      ol.breadcrumb
        li
          a(href="" ui-sref="root" ui-sref-opts="{ reload: true }")
            img.murukuva(src="images/md/ikoni-eperusteet.png")
        li(ng-repeat="muru in muruPath")
          a(href="" ui-sref="{{ muru.state }}" ui-sref-opts="{ reload: true }")
            span(ng-bind="muru.name | kaanna")
    div.col-xs-4
      div.pull-right
        +kielivalitsin
      div.pull-right
        span.ohje.popover-element.fa-stack.fa-lg(
          style="color: #199dd0;"
          ng-show="helpUrl"
          uib-popover-template="helpUrl"
          popover-trigger="mouseenter"
          popover-animation="true"
          popover-placement="bottom-right"
          popover-title="{{ 'nakyma-ohje' | kaanna }}")
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-info.fa-stack-1x.fa-inverse
