div.modal-header
  h2.pull-left(ng-bind="'lisaa-opetussuunnitelma' | kaanna")
  .pull-right
    +kielivalitsin
  .clearfix

div.modal-body
  div.content-spacing.tutkintohaku
    div(ng-hide="peruste")
      .form-group.has-feedback.has-feedback-left
        input.form-control(
          type="text"
          placeholder="{{ 'hae-peruste' | kaanna }}"
          ng-model="nimi"
          ng-model-options="{ debounce: 300 }"
          ng-change="update(nimi, sivu)")
        i.form-control-feedback.glyphicon.glyphicon-search(ng-if="!ladataan" style="color: gray;")
        i.form-control-feedback(ng-if="ladataan")
          small-spinner

      div(ng-if="perusteet !== null && perusteet.length > 0")
        table.table.table-striped
          thead
            tr
              th(kaanna="'nimi'")
              th(kaanna="'diaarinumero'")
              th(kaanna="'voimaantulo'")
          tbody
            tr(ng-repeat="peruste in perusteet" ng-click="valitsePeruste(peruste)")
              td
                a(href="" kaanna="peruste.nimi" ng-click="valitsePeruste(peruste)")
              td(ng-bind="peruste.diaarinumero")
              td(ng-bind="peruste.voimassaoloAlkaa | aikaleima:'date'")

        ul(uib-pagination total-items="total"
          ng-model="sivu"
          ng-change="update(nimi, sivu)"
          max-size="10"
          class="pagination-sm"
          boundary-links="true"
          previous-text="‹"
          next-text="›"
          first-text="«"
          last-text="»"
          num-pages="sivuja")

      div(ng-show="!ladataan && perusteet.length === 0")
        div.ei-tuloksia(ng-bind="'ei-hakutuloksia' | kaanna")

    div.peruste(ng-show="peruste")
      div
        h4(ng-bind="'tutkinto' | kaanna")
        span.content.tutkinto-nimi(ng-bind="peruste.nimi | kaanna")
        span=" ("
        span.tutkinto-diaari(ng-bind="peruste.diaarinumero")
        span=")"
      div
        span.content(ng-bind="'voimassa-olo-alkoi' | kaanna")
        span=": "
        span(ng-bind="peruste.voimassaoloAlkaa | aikaleima:'date'")
      div(ng-if="peruste.voimassaoloLoppuu")
        span.content(ng-bind="'voimassa-olo-paattyy' | kaanna")
        span=": "
        span(ng-bind="peruste.voimassaoloLoppuu | aikaleima:'date'")

      div
        h4(ng-bind="'koulutukset' | kaanna")
        div.content(ng-repeat="koulutus in peruste.koulutukset")
          span(ng-bind="koulutus.nimi | kaanna")
          span=" ("
          span(ng-bind="koulutus.koulutuskoodiArvo")
          span=")"

        toggler.pull-next-to(yes="enemman" no="vahemman" ng-model="$$perusteNaytaLisaa")

        div(ng-show="$$perusteNaytaLisaa")
          div(ng-if="peruste.osaamisalat.length > 0")
            h4(ng-bind="'osaamisalat' | kaanna")
            p.content(ng-repeat="osaamisala in peruste.osaamisalat"
              ng-bind="osaamisala.nimi | kaanna")

          h4(ng-bind="'kuvaus' | kaanna")
          p.content(ng-bind-html="peruste.kuvaus | kaanna")

  .content-spacing(ng-show="peruste")
    h3(ng-bind="'anna-nimi' | kaanna")
    input.form-control(slocalized ng-model="ops.nimi" type="text" required="true")
    div(ng-show="peruste.suoritustavat.length > 1")
      h3(style="margin-top: 16px;" ng-bind="'valitse-suoritustapa' | kaanna")
      .btn-group
        label.btn.btn-primary(
          ng-repeat="st in peruste.suoritustavat | orderBy:st.suoritustapakoodi"
          ng-model="ops.suoritustapa"
          uib-btn-radio="st.suoritustapakoodi"
          ng-bind="'suoritustapa-' + st.suoritustapakoodi | kaanna")


div.modal-footer
  button.btn.btn-default(ng-click="peruuta()" ng-bind="'peruuta' | kaanna")
  button.btn.btn-primary(ng-click="ok(ops)" ng-bind="'tallenna' | kaanna" ng-disabled="ops.nimi.length === 0")

