div.modal-header
  h2.pull-left(ng-show="obj.tyyppi === 'tutkinnonosa' && !$$isValmaTelma" kaanna="'otsikko-tutkinnonosa'")
  h2.pull-left(ng-show="obj.tyyppi === 'tutkinnonosa' && $$isValmaTelma" kaanna="'otsikko-koulutuksenosa'")
  h2.pull-left(ng-show="obj.tyyppi === 'tutkinnonosaryhma'" kaanna="'otsikko-tutkinnonosaryhma'")
  h2.pull-left(ng-show="obj.tyyppi === 'suorituspolku'" kaanna="'otsikko-suorituspolku'")
  h2.pull-left(ng-show="obj.tyyppi === 'osasuorituspolku'" kaanna="'otsikko-osasuorituspolku'")
  h2.pull-left(ng-show="obj.tyyppi === 'tekstikappale'" kaanna="'otsikko-tekstikappale'")
  h2.pull-left(ng-show="!obj.tyyppi" kaanna="'lisaa-sisaltoa'")
  .pull-right
    +kielivalitsin
  .clearfix

div.modal-body.modal-sisalto
  div.sisalto-valinta(ng-hide="obj.tyyppi || currentStage !== 'sisaltotyyppi'")
    div(ng-repeat="tyyppi in sallitut")
      div.sisalto-item
        .pull-right.sisalto-valinta
          button.btn.btn-primary(ng-bind="'lisaa' | kaanna" ng-click="valitse(tyyppi)")
        span.sisalto-icon
          +icon("file-text-o")
        div.sisalto-text
          span(ng-bind="'sisaltotyyppi-' + tyyppi | kaanna" ng-if="!$$isValmaTelma")
          span(ng-bind="'sisaltotyyppi-' + tyyppi | kaanna" ng-if="$$isValmaTelma && tyyppi !== 'tutkinnonosa'")
          span(ng-bind="'sisaltotyyppi-koulutuksenosa' | kaanna" ng-if="$$isValmaTelma && tyyppi === 'tutkinnonosa'")
    div(ng-show="$$sisaltotuonti")
      div.sisalto-item
        .pull-right.sisalto-valinta
          button.btn.btn-default(ng-bind="'tuo' | kaanna" ng-click="tuoSisaltoa()")
        span.sisalto-icon
          +icon("files-o")
        div.sisalto-text
          span(ng-bind="'tuo-sisaltoa-muista-opseista' | kaanna")
    div(ng-show="$$tutkinnonosatuonti")
      div.sisalto-item
        .pull-right.sisalto-valinta
          button.btn.btn-default(ng-bind="'tuo' | kaanna" ng-click="tuoTutkinnonosa()")
        span.sisalto-icon
          +icon("files-o")
        div.sisalto-text
          span(ng-bind="'tuo-tutkinnon-osa-perusteesta' | kaanna")

  div.sisalto-tekstikappale(ng-show="currentStage === 'nimenvalinta'")
    h3(ng-bind="'anna-nimi' | kaanna")
    .form-group
      input.form-control(slocalized ng-model="obj.tekstiKappale.nimi" type="text" required="true")

  div(ng-show="currentStage === 'perusteentutkinnonosat'")
    +completePagination("tosap")
      table.table.table-striped
        tr
          th(ng-bind="'nimi' | kaanna")
          th(ng-bind="'koodi' | kaanna")
        tr(ng-repeat="tosa in tosap.items")
          td
            a(href="" ng-click="valitseTutkinnonosa(tosa)" ng-bind="tosa.nimi | kaanna")
          td(ng-bind="tosa.koodiArvo")

  div(ng-show="currentStage === 'perusteet'")
    .form-group.has-feedback.has-feedback-left
      input.form-control(
        type="text"
        placeholder="{{ 'hae-peruste' | kaanna }}"
        ng-model="nimi"
        ng-model-options="{ debounce: 300 }"
        ng-change="update(nimi, sivu)")
      i.form-control-feedback.glyphicon.glyphicon-search(ng-if="!ladataan" style="color: gray;")
      i.form-control-feedback(ng-if="ladataan")
        small-spinner

    table.table.table-striped
      thead
        tr
          th(ng-bind="'nimi' | kaanna")
          th(ng-bind="'tutkinnon-diaarinumero' | kaanna")
      tbody
        tr(ng-repeat="peruste in perusteet" ng-click="valitsePeruste(peruste)")
          td
            a(href="" kaanna="peruste.nimi" ng-click="valitsePeruste(peruste)")
          td(ng-bind="peruste.diaarinumero")

    ul(uib-pagination
      ng-model="sivu"
      total-items="total"
      items-per-page="sivukoko"
      num-pages="sivuja"
      max-size="10"
      ng-change="update(nimi, sivu)"
      class="pagination-sm"
      boundary-links="true"
      previous-text="‹"
      next-text="›"
      first-text="«"
      last-text="»")

  div(ng-show="currentStage === 'opetussuunnitelma'")
    .form-group.has-feedback.has-feedback-left
      input.form-control(
        type="text"
        placeholder="{{ 'hae-toteutussuunnitelma' | kaanna }}"
        ng-model="nimi"
        ng-model-options="{ debounce: 300 }"
        ng-change="update(nimi, sivu)")
      i.form-control-feedback.glyphicon.glyphicon-search(ng-if="!ladataan" style="color: gray;")
      i.form-control-feedback(ng-if="ladataan")
        small-spinner

    table.table.table-striped
      tr
        th(ng-bind="'nimi' | kaanna")
        th(ng-bind="'tyyppi' | kaanna")
        th(ng-bind="'tutkinnon-diaarinumero' | kaanna")
      tr(ng-repeat="ops in opsit")
        td
          a(href="" ng-click="valitseOps(ops)" ng-bind="ops.nimi | kaanna")
        td(ng-bind="'opstyyppi-' + ops.tyyppi | kaanna")
        td(ng-bind="ops.perusteDiaarinumero")

    ul(uib-pagination
      ng-model="sivu"
      total-items="total"
      items-per-page="sivukoko"
      num-pages="sivuja"
      max-size="10"
      ng-change="update(nimi, sivu)"
      class="pagination-sm"
      boundary-links="true"
      previous-text="‹"
      next-text="›"
      first-text="«"
      last-text="»")

  .opslista(ng-show="currentStage === 'opssisalto'")
    .osa(ng-repeat="node in rakenne" style="margin-left: {{ node.$$depth * 20 }}px")
      label.checkbox-inline
        span.nimi(ng-bind="node.$$obj.tekstiKappale.nimi | kaanna")
        input.form-control(type="checkbox" ng-model="node.$$valittu")

div.modal-footer
  button.btn.btn-default(ng-click="ok()")
    span(ng-bind="'peruuta' | kaanna")
  button.btn.btn-primary(ng-show="currentStage !== 'opssisalto'" ng-disabled="!obj || !obj.tyyppi" ng-click="ok(obj)")
    span(ng-bind="'lisaa' | kaanna")
  button.btn.btn-primary(ng-show="currentStage === 'opssisalto'" ng-click="lisaaOpsSisalto()")
    span(ng-bind="'lisaa' | kaanna")
