mixin kirjoita-kommentti(kommentti, tallenna, peruuta)
  div(ckeditor layout="minimal" ng-model=kommentti + ".sisalto")
  div.pull-right
    button.btn.btn-default(kaanna="'peruuta'" ng-click=peruuta)
    button.btn.btn-primary(kaanna="'tallenna'" ng-click=tallenna)

mixin kommentti(kommentti, ...tyyppi)
  div(class="kommentti " + tyyppi)
    div.kommentti-avatar
      div.nimikirjain-avatar(ng-bind=kommentti + ".nimi | nimikirjaimet")

    div.kommentti-painikkeet
      a(href="" ng-click=kommentti + ".isMuokkaus = !" + kommentti + ".isMuokkaus" ng-hide=kommentti + ".isMuokkaus")
        +icon("pencil-square-o")
      a(href="" ng-click="poistaKommentti(" + kommentti + ")" ng-hide=kommentti + ".isMuokkaus")
        +icon("trash-o")

    div.kommentti-sisalto
      p.kommentti-nimi(ng-bind=kommentti + ".nimi")

      div.kommentti-teksti
        div(ng-if="!" + kommentti + ".isMuokkaus")
          p(ng-bind-html=kommentti + ".sisalto")
        div(ng-if=kommentti + ".isMuokkaus")
          +kirjoita-kommentti(kommentti, "muokkaaKommentti(" + kommentti + ")", kommentti + ".isMuokkaus = !" + kommentti + ".isMuokkaus")

      p.kommentti-footer
        strong(kaanna="'muokattu'")
        span=" "
        span(ng-bind=kommentti + ".muokattu | aikaleima")
        span=" "
        a(href="" ng-click=kommentti + ".isVastaus = !" + kommentti + ".isVastaus" kaanna="'vastaa'" ng-if=kommentti + " !== lapsi")

  div(class="kommentti-vastaa " + tyyppi ng-if=kommentti + ".isVastaus")
    +kirjoita-kommentti(kommentti + ".vastaus", "vastaaKommenttiin(" + kommentti + ".vastaus, kommentti.id)", kommentti + ".isVastaus = !" + kommentti + ".isVastaus")
    div.clearfix

div.kommentointi
  h1(kaanna="keskustelu")
  a(href="", ng-if="!$$ekEditing")
    +icon("plus")
    span=" "
    span(kaanna="'lisaa-kommentti'")
  div(ng-if="$$ekEditing")
  div(style="margin-bottom: 16px" ckeditor slocalized ng-model="tkv.tekstiKappale.kommentti" layout="normal")

  div(ng-repeat="kommentti in kommentit")
    +kommentti("kommentti")
    div(ng-repeat="lapsi in kommentti.lapset")
      +kommentti("lapsi", "kommentti-lapsi")
