div.poistetut.subtle-transition
  div.row
    div.col-xs-6
      h2 Poistetut
    div.col-xs-6
      div.input-group.input-group-sm
        input.form-control(type="text", placeholder="{{'haku-nimi' | kaanna}}", ng-model="search" ng-change="paivita()")
        span.input-group-btn
          button.btn.btn-default(ng-click="search = ''")
            +icon("times")

  div.row
    div.col-xs-12
      table.table.table-striped
        thead
          tr
            th
              a(href="", ng-click="vaihdaJarjestys('nimi')")
                span(kaanna="'poistettu-otsikko'")
                span(ng-show="jarjestys==='nimi'")=" "
                  span.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="jarjestysKaanteinen")
                  span.glyphicon.glyphicon-sort-by-alphabet(ng-show="!jarjestysKaanteinen")
            th
              a(href="", ng-click="vaihdaJarjestys('tyyppi')")
                span(kaanna="'tyyppi'")
                span(ng-show="jarjestys==='tyyppi'")=" "
                  span.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="jarjestysKaanteinen")
                  span.glyphicon.glyphicon-sort-by-alphabet(ng-show="!jarjestysKaanteinen")
            th
              a(href="", ng-click="vaihdaJarjestys('poistaja')")
                span(kaanna="'poistaja'")
                span(ng-show="jarjestys==='poistaja'")=" "
                  span.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="jarjestysKaanteinen")
                  span.glyphicon.glyphicon-sort-by-alphabet(ng-show="!jarjestysKaanteinen")
            th
              a(href="", ng-click="vaihdaJarjestys('poistoAika')")
                span(kaanna="'poistopaivamaara'")
                span(ng-show="jarjestys==='poistoAika'")=" "
                  span.glyphicon.glyphicon-sort-by-attributes-alt(ng-show="jarjestysKaanteinen")
                  span.glyphicon.glyphicon-sort-by-attributes(ng-show="!jarjestysKaanteinen")
            th
              a(href="")
                span(kaanna="'toiminnot'")
        tbody
          tr(ng-show="suodata(poistettu)" ng-repeat="poistettu in suodatetut = (poistetut " +
            "| filter:nimi) " +
            "| limitTo:alkioitaSivulla:(sivu - 1) * alkioitaSivulla " +
            "| orderBy:jarjestys:jarjestysKaanteinen")

            td(kaanna="poistettu.nimi")
            td(ng-bind="'poistotyyppi-' + poistettu.tyyppi | kaanna")
            td(ng-bind="poistettu.muokkaajaOid")
            td(ng-bind="poistettu.pvm | aikaleima")
            td
              button.btn.btn-sm.btn-warning(ng-click="palauta(poistettu)" oikeustarkastelu="muokkaus")
                span(kaanna="'palauta'")
                


  nav.text-center
    uib-pagination(
    ng-model="sivu",
    total-items="suodatetut.length",
    items-per-page="alkioitaSivulla",
    force-ellipses="true",
    direction-links="false")
