mixin icon(type)
  i(class="fa fa-" + type)


mixin removeButtonSmall(actionEdit)
  button.btn.btn-warning.btn-sm.btn-small-margin-left(ng-disabled="$$ekEditing || versio" ng-click=actionEdit)&attributes(attributes)
    +icon("trash")


mixin editButtonSmall(actionEdit)
  button.btn.btn-primary.btn-sm.muokkaa(ng-disabled="$$ekEditing || versio" ng-click=actionEdit)&attributes(attributes)
    +icon("pencil")


mixin editButton(actionEdit)
  button.btn.btn-primary.muokkaa(ng-hide="$$ekEditing || versio" ng-click=actionEdit)&attributes(attributes)
    +icon("pencil")


mixin addButtonSmall(actionEdit)
  button.btn.btn-primary.btn-sm.muokkaa.btn-small-margin-left(ng-disabled="$$ekEditing" ng-click=actionEdit)&attributes(attributes)
    +icon("plus-circle")


mixin saveButtonSmall(actionEdit)
  button.btn.btn-primary.btn-sm.muokkaa(ng-click=actionEdit)&attributes(attributes)
    +icon("save")


mixin cancelButtonSmall(actionEdit)
  button.btn.btn-warning.btn-sm.muokkaa.btn-small-margin-left(ng-click=actionEdit)&attributes(attributes)
    +icon("close")


mixin historia(versio, uusinMuokkaaja, uusinMuokkaus, uusinRevisio, actionEdit, actionRevisions, actionPalauta, restoreNew)
  .ylapalkki
    .pull-left
      p
        span
          b(kaanna="'muokattu'")
        span(ng-bind=uusinMuokkaus + " | aikaleima")
      p
        span
          b(kaanna="'muokkaaja'")
        span(ng-bind=uusinMuokkaaja)

    .pull-right
      block
      +editButton(actionEdit)

    .pull-right
      p
        span
          b(kaanna="'versio'")
        a(href="" ng-click=actionRevisions)
          span(ng-bind=uusinRevisio)

  div(ng-show="versio")
    br
    .alert.alert-info(role="alert")
      div(kaanna="'tarkastelet-vanhempaa-versiota'")
      div
        a(href="" ng-click=actionPalauta)
          b(kaanna="'ota-versio-kayttoon'")
        span=" "
        span(kaanna="'tai'")
        span=" "
        a(href="" ng-click=restoreNew)
          b(kaanna="'palaa-uusimpaan'")


mixin ekdate(model, label)
  div(ng-if="$$ekEditing")
    datepick(type="date" label="{{ " + label + " | kaanna }}" model=model)
  div(ng-if="!$$ekEditing")
    p(ng-bind=model + " | aikaleima")


mixin ekstring(model, required)
  - required = required || "false"
  div(ng-show="$$ekEditing")
    input.form-control(ng-model=model type="text" required=required)
  div(ng-hide="$$ekEditing")
    p(ng-bind-html=model + "| kaanna")


mixin ekinput(model, required)
      - required = required || "false"
      div(ng-show="$$ekEditing")
        input.form-control(slocalized ng-model=model type="text" required=required)
      div(ng-hide="$$ekEditing")
        p(ng-bind-html=model + "| kaanna")


mixin ekinputIndxed(model, required, indx, select)
      - required = required || "false"
      div(ng-show="$$ekEditing && indx !== select")
        input.form-control(slocalized ng-model=model type="text" required=required)
      div(ng-hide="$$ekEditing && indx === select")
        p(ng-bind-html=model + "| kaanna")


mixin eklangs(model)
  div(ng-if="$$ekEditing")
    | editoin
    // textarea.form-control(ckeditor slocalized ng-model=model layout=layout)
  div(ng-if="!$$ekEditing")
    | moro
    // div(ng-repeat="kieli in ")
    // p(ng-bind-html=model + "| kaanna")


mixin ekeditor(model, layout)
      div(ng-if="$$ekEditing")
        textarea.form-control.ckeditor(ckeditor slocalized ng-model=model layout=layout)
      div(ng-if="!$$ekEditing")
        p(ng-bind-html=model + "| kaanna")


mixin ekeditorIndxd(model, layout, indx, select)
      div(ng-if="$$ekEditing && indx !== select")
        textarea.form-control.ckeditor(ckeditor slocalized ng-model=model layout=layout)
      div(ng-if="!$$ekEditing && indx === select")
        p(ng-bind-html=model + "| kaanna")


mixin formfield(label)
  div.row(style="margin-bottom: 20px")
    .col-xs-2: span(kaanna=label)
    .col-xs-10
      block
