mixin kirjoita-kommentti(kommentti, tallenna, peruuta)
  textarea.form-control.kommentti-textarea(maxlength='{{ $$kommenttiMaxLength.maara }}' ng-model=kommentti + ".$$sisaltoKlooni")

  span.kommentti-ylitys(ng-show=kommentti + ".$$sisaltoKlooni.length >= $$kommenttiMaxLength.maara") {{ "kommentti-ei-saa-ylittaa" | kaanna:$$kommenttiMaxLength }}

  div.pull-right
    button.btn.btn-default(ng-bind="'peruuta' | kaanna" ng-click=peruuta)
    button.btn.btn-primary(ng-bind="'tallenna' | kaanna" ng-click=tallenna)

mixin kommentti(kommentti, ...tyyppi)
  div(class="kommentti " + tyyppi)
    div.kommentti-avatar
      div.nimikirjain-avatar(ng-bind=kommentti + ".nimi | nimikirjaimet")

    div.kommentti-painikkeet
      a(href="" ng-click="avaaTekstikentta(" + kommentti + ")"
        ng-hide=kommentti + ".$$isMuokkaus || !" + kommentti + ".$$muokkausSallittu"
        ng-class="$$ekEditing ? 'inactive' : ''")
        +icon("pencil-square-o")
      a(href="" ng-click="poistaKommentti(" + kommentti + ")"
        ng-hide=kommentti + ".$$isMuokkaus || !" + kommentti + ".$$poistaSallittu"
        ng-class="$$ekEditing ? 'inactive' : ''")
        +icon("trash-o")

    div.kommentti-sisalto
      p.kommentti-nimi
        span(ng-bind=kommentti + ".nimi")

      p.kommentti-muokattu
        strong(ng-bind="'lahetetty' | kaanna")
        span=" "
        span(ng-bind=kommentti + ".luotu | aikaleima")
        span(ng-show=kommentti + ".muokattu !== " + kommentti + ".luotu")
          span=" ("
          strong(ng-bind="'muokattu' | kaanna")
          span=" "
          span(ng-bind=kommentti + ".muokattu | aikaleima")
          span=")"

      div.kommentti-teksti
        div(ng-if="!" + kommentti + ".$$isMuokkaus")
          p(ng-bind-html=kommentti + ".sisalto")
        div(ng-if=kommentti + ".$$isMuokkaus")
          +kirjoita-kommentti(kommentti, "muokkaaKommentti(" + kommentti + ")", kommentti + ".$$isMuokkaus = false")

      p.kommentti-footer
        a(href=""
          ng-click=kommentti + ".$$isVastaus = !" + kommentti + ".$$isVastaus"
          ng-bind="'vastaa' | kaanna"
          ng-hide="'" + kommentti + "' === 'lapsi'"
          ng-class="$$ekEditing ? 'inactive' : ''")

  div(class="kommentti-vastaa " + tyyppi ng-if=kommentti + ".$$isVastaus")
    +kirjoita-kommentti(kommentti + ".$$vastaus",
                        "vastaaKommentti(" + kommentti + ".$$vastaus, " + kommentti + ".id)",
                        kommentti +".$$isVastaus = false")
    div.clearfix

mixin kommentti-poistettu(kommentti, ...tyyppi)
  div(class="kommentti-poistettu " + tyyppi)
    p
      strong(ng-bind="'viesti-poistettu' | kaanna")
      span=" "
      span(ng-bind=kommentti + ".muokattu | aikaleima")

div.kommentointi
  h1(ng-bind="keskustelu | kaanna")

  a(href="" ng-click="uusi.$$isVastaus = !uusi.$$isVastaus" ng-hide="uusi.$$isVastaus" ng-class="$$ekEditing ? 'inactive' : ''")
    +icon("plus")
    span=" "
    span(ng-bind="'lisaa-kommentti' | kaanna")
  div.kommentti-uusi(ng-if="uusi.$$isVastaus")
    +kirjoita-kommentti("uusi", "lisaaKommentti(uusi)", "uusi.$$isVastaus = false")
  div.clearfix

  div(ng-repeat="kommentti in kommentit")
    div(ng-hide="kommentti.poistettu")
      +kommentti("kommentti")
    div(ng-show="kommentti.poistettu")
      +kommentti-poistettu("kommentti")
    div(ng-repeat="lapsi in kommentti.$$lapset")
      div(ng-hide="lapsi.poistettu")
        +kommentti("lapsi", "kommentti-lapsi")
      div(ng-show="lapsi.poistettu")
        +kommentti-poistettu("lapsi", "kommentti-lapsi")
