mixin tosaToteutus()
  div.toteutukset(ng-hide="$$showSisalto")
    div(ng-if="$$ekEditing")
      div
        h1(kaanna="'toteutukset'")

        div.toolbar
          button.btn.btn-primary(kaanna="'lisaa-uusi'" ng-click="lisaaUusiToteutus()")

        div(ng-hide="osa.tosa.toteutukset.length > 0")
          div.alert.alert-info
            span(kaanna="'tutkinnon-osalle-ei-maaritelty-paikallisia-toteutuksia'")

        .clearfix

        div(ui-sortable="sortableOptions" ng-model="osa.tosa.toteutukset")
          div.toteutus(ng-repeat="toteutus in osa.tosa.toteutukset")
            div.input-group
              span.input-group-addon.pointable(ng-click="toteutus.$$nayta = !toteutus.$$nayta")
                +turboChevron("!toteutus.$$nayta")
              input.form-control(slocalized ng-model="toteutus.otsikko")
              span.input-group-addon.pointable.toteutus-handle
                +gicon("sort")
            div(ng-if="toteutus.$$nayta")
              div.osaamisalatieto(ng-show="toteutus.osaamisalaKoodi")
                span(kaanna="'osaamisalat-joihin-vaikutusta'")
                span(style="margin-right: 6px")
                  |:
                span(ng-bind="osaamisalat[toteutus.osaamisalaKoodi].nimi | kaanna")
                b(style="margin-left: 6px" ng-bind="osaamisalat[toteutus.osaamisalaKoodi].arvo")

              +contentToggler("$$showTavatjaymparisto", "'tavat-ja-ymparisto'")
                div(ckeditor slocalized ng-model="toteutus.tavatjaymparisto.teksti" layout="normal")
              +contentToggler("$$showArvioinnista", "'osaamisen-arvioinnista'")
                div(ckeditor slocalized ng-model="toteutus.arvioinnista.teksti" layout="normal")
              div.toolbar-bottom
                button.btn.btn-primary(ng-show="peruste.osaamisalat.length > 0" style="margin-right: 6px" ng-click="addOsaamisala(toteutus)")
                  +itext("plus", 'lisaa-osaamisala-koodi')
                button.btn.btn-primary(ng-click="addOppimaara(toteutus)" style="margin-right: 6px")
                  +itext("plus", 'lisaa-oppimaara-koodi')
                button.btn.btn-primary(ng-click="addOsaalue(toteutus)")
                  +itext("plus", 'lisaa-osaalue-koodi')

                .pull-right
                  button.btn.btn-danger(ng-click="removeToteutus(toteutus)")
                    +itext("remove", 'poista')

    div(ng-if="!$$ekEditing")
      div(ng-hide="osa.tosa.toteutukset.length > 0")
        div.alert.alert-info
          span(kaanna="'tutkinnon-osalle-ei-maaritelty-paikallisia-toteutuksia'")

      div.toteutus-esitys(ng-repeat="toteutus in osa.tosa.toteutukset")
        div
          .otsikko(ng-click="toteutus.$$nayta = !toteutus.$$nayta")
            +turboChevron("!toteutus.$$nayta")
            +plainTeksti("toteutus.otsikko")
          .sisalto(ng-if="toteutus.$$nayta")
            +contentToggler("$$showTavatjaymparisto", "'tavat-ja-ymparisto'")
              +teksti("toteutus.tavatjaymparisto.teksti")
            +contentToggler("$$showArvioinnista", "'osaamisen-arvioinnista'")
              +teksti("toteutus.arvioinnista.teksti")


mixin omaTosaSisalto()
  +contentToggler("$$showAmmattitaitovaatimukset", "'ammattitaitovaatimukset'")
    .ammattitaitovaatimukset(ui-sortable="sortableOptionsAmmattitaitovaatimukset"
                             ng-model="osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista")
      div(ng-repeat="ammattitaitovaatimus in osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista")
        +ammattitaitovaatimus
    button.btn.btn-default(type='button' ng-click="lisaaAmmattitaitovaatimus()" kaanna="'lisaa-ammattitaitovaatimus'")

  +contentToggler("$$showArviointi", "'arviointi'")
    .arviointi-kohdealueet(ui-sortable="sortableOptionsArvioinninKohdealueet"
                           ng-model="osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet")
      div(ng-repeat="arvioinninKohdealue in osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet")
        +arviointi
    button.btn.btn-default(type='button' ng-click="lisaaArvioinninKohdealue()" kaanna="'lisaa-kohdealue'")

  +contentToggler("$$showAmmattitaidonOsoittamistavat", "'ammattitaidon-osoittamistavat'")
    div(style="margin-bottom: 16px"
        ckeditor slocalized ng-model="osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat" layout="normal")

  div(ng-if="!$$ekEditing")
    +contentToggler("$$showTavoitteet", "'tavoitteet'")
      +teksti("osa.tosa.omatutkinnonosa.tavoitteet")

    +contentToggler("$$showAmmattitaitovaatimukset", "'ammattitaitovaatimukset'")
      .ammattitaitovaatimukset
        div(ng-repeat="ammattitaitovaatimus in osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista")
          +ammattitaitovaatimus

    +contentToggler("$$showArviointi", "'arviointi'")
      .arviointi-kohdealueet
        div(ng-repeat="arvioinninKohdealue in osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet")
          +arviointi("arvioinninKohdealue")

    +contentToggler("$$showAmmattitaidonOsoittamistavat", "'ammattitaidon-osoittamistavat'")
      +teksti("osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat")


mixin perusteenTosaSisalto()
  +formfieldDense("'koodi'")
    b(ng-bind="pTosa.koodiArvo")
  +formfieldDense("'luotu'")
    span(ng-bind="pTosa.luotu | aikaleima")
  +formfieldDense("'viimeksi-muokattu'")
    span(ng-bind="pTosa.muokattu | aikaleima")
  +contentToggler("pTosa.$$showAmOsoittamiset", "'ammattitaidon-osoittamistavat'")
    +teksti("pTosa.ammattitaidonOsoittamistavat")
  +contentToggler("pTosa.$$showAmVaatimukset", "'ammattitaitovaatimukset'")
    +teksti("pTosa.ammattitaitovaatimukset")

mixin vaatimus
    textarea.form-control(ng-model="vaatimus.selite" slocalized placeholder="{{' vaatimuksen-selite' | kaanna }}")
    input.form-control(type="text"
                       ng-model="vaatimus.ammattitaitovaatimusKoodi"
                       maxlength="20"
                       placeholder="{{ 'ammattitaitovaatimuksen-koodi' | kaanna }}")
    .painikkeet
      span.sortable-item-handle.pull-right
        +gicon("sort")
      span.pull-right.linkki(ng-click="poistaVaatimus(vaatimuksenKohde, vaatimus)")
        +icon("trash-o")

mixin vaatimuksenKohde
  .vaatimuksen-kohde
    .form-group(ng-if="$$ekEditing")
      .input-group
        input.form-control(type="text" ng-model="vaatimuksenKohde.otsikko" slocalized placeholder="{{ 'vaatimuksen-kohteen-otsikko' | kaanna }}")
        .input-group-addon.linkki(ng-click="poistaVaatimuksenKohde(ammattitaitovaatimus, vaatimuksenKohde)")
          +icon("trash-o")
        .input-group-addon.sortable-item-handle
          +gicon("sort")
    .form-group(ng-if="$$ekEditing")
      input.form-control(type="text" ng-model="vaatimuksenKohde.selite" slocalized placeholder="{{ 'vaatimuksen-kohteen-selite' | kaanna }}")

    h4(ng-if="!$$ekEditing")
      span(ng-if="vaatimuksenKohde.otsikko" kaanna="vaatimuksenKohde.otsikko")
    p(ng-if="!$$ekEditing")
      span(ng-if="vaatimuksenKohde.selite" kaanna="vaatimuksenKohde.selite")

    .row(ng-if="$$ekEditing")
      .col-xs-11.col-xs-push-1
        .vaatimukset(ui-sortable="sortableOptionsVaatimukset" ng-model="vaatimuksenKohde.vaatimukset")
          div(ng-repeat="vaatimus in vaatimuksenKohde.vaatimukset")
            +vaatimus
    div(ng-if="!$$ekEditing")
      ul
        li(ng-repeat="vaatimus in vaatimuksenKohde.vaatimukset")
          span(kaanna="vaatimus.selite")
          span=" ({{ vaatimus.ammattitaitovaatimusKoodi }})"

    .painikkeet(ng-if="$$ekEditing")
      .clearfix
      span.linkki.pull-right(ng-click="lisaaVaatimus(vaatimuksenKohde)")
        +icon("plus")
      .clearfix

mixin ammattitaitovaatimus
  .box-panel
    .box-panel-title
      h3(ng-if="!$$ekEditing")
        span(ng-if="ammattitaitovaatimus.otsikko" kaanna="ammattitaitovaatimus.otsikko")

      .input-group(ng-if="$$ekEditing")
        input.form-control(type="text"
                           slocalized
                           ng-model="ammattitaitovaatimus.otsikko"
                           placeholder="{{ 'otsikko-puuttuu' | kaanna }}")

        .input-group-addon.linkki(ng-click="poistaAmmattitaitovaatimus(ammattitaitovaatimus)")
          +icon("trash-o")
        .input-group-addon.sortable-item-handle
          +gicon("sort")

    .box-panel-content
      .vaatimuksen-kohteet(ui-sortable="sortableOptionsVaatimuksenKohteet" ng-model="ammattitaitovaatimus.vaatimuksenKohteet")
        div(ng-repeat="vaatimuksenKohde in ammattitaitovaatimus.vaatimuksenKohteet")
          +vaatimuksenKohde


      button.btn.btn-primary(ng-if="$$ekEditing" ng-click="lisaaVaatimuksenKohde(ammattitaitovaatimus)")
        +icon("plus")
        span=" "
        span(kaanna="'lisaa-arviointi-kohde'")

mixin kriteeri
  div(ng-if="$$ekEditing")
    textarea.form-control(ng-model="kriteeri" slocalized placeholder="{{'kriteerin-teksti' | kaanna}}")
    .painikkeet
      span.sortable-item-handle.pull-right
        +gicon("sort")
      span.pull-right.linkki(ng-click="poistaKriteeri(osaamistasonKriteeri, kriteeri)")
        +icon("trash-o")

mixin arviointiKohde
  .arviointi-kohde(ng-if="arviointiKohde._arviointiasteikko > 0")
    .form-group(ng-if="$$ekEditing")
      .input-group
        input.form-control(type="text" ng-model="arviointiKohde.otsikko" slocalized placeholder="{{ 'arvioinnin-kohteen-otsikko' | kaanna }}")
        .input-group-addon.linkki(ng-click="poistaArvioinninKohde(arvioinninKohdealue, arviointiKohde)")
          +icon("trash-o")
        .input-group-addon.sortable-item-handle
          +gicon("sort")
    .form-group(ng-if="$$ekEditing")
      input.form-control(type="text" ng-model="arviointiKohde.selite" slocalized placeholder="{{ 'arvioinnin-kohteen-selite' | kaanna }}")

    h4(ng-if="!$$ekEditing")
      span(ng-if="arviointiKohde.otsikko" kaanna="arviointiKohde.otsikko")
    p(ng-if="!$$ekEditing")
      span(ng-if="arviointiKohde.selite" kaanna="arviointiKohde.selite")


    .table-responsive
      table.table.table-striped.table-condensed
        tbody
          tr(ng-repeat="(index, osaamistasonKriteeri) in arviointiKohde.osaamistasonKriteerit")
            td(kaanna="arviointiAsteikot[arviointiKohde._arviointiasteikko - 1].osaamistasot[index].otsikko")
            td
              ul(ng-if="!$$ekEditing")
                li(kaanna="kriteeri" ng-repeat="kriteeri in osaamistasonKriteeri.kriteerit")

              div(ng-if="$$ekEditing")
                .osaamistason-kriteerit(ui-sortable="sortableOptionsOsaamistasonKriteerit"
                                        ng-model="osaamistasonKriteeri.kriteerit")
                  div(ng-repeat="kriteeri in osaamistasonKriteeri.kriteerit")
                    +kriteeri
                div.clearfix
                div.painikkeet
                  span.linkki.pull-right(ng-click="lisaaKriteeri(osaamistasonKriteeri)")
                    +icon("plus")

mixin arviointiAsteikko
  .arviointi-asteikko
    .radio(ng-repeat="arviointiAsteikko in arviointiAsteikot")
      label
        input(type="radio" ng-model="arvioinninKohdealue.$$uusiArvioinninKohdealue._arviointiasteikko" ng-value="arviointiAsteikko.id")
        span(ng-repeat="osaamistaso in arviointiAsteikko.osaamistasot")
          span {{ osaamistaso.otsikko | kaanna }}{{{true: '', false: ' / '}[$last]}}

    .painikkeet
      button.btn.btn-danger(type='button'
                             ng-click="arvioinninKohdealue.$$uusiAuki = !arvioinninKohdealue.$$uusiAuki"
                             ng-show="arvioinninKohdealue.$$uusiAuki" kaanna="'peruuta'")
      button.btn.btn-default(type='button' ng-click="lisaaArviointiasteikko(arvioinninKohdealue)" kaanna="'lisaa'")

mixin arviointi
  .box-panel
    .box-panel-title
      h3(ng-if="!$$ekEditing")
        span(ng-if="arvioinninKohdealue.otsikko" kaanna="arvioinninKohdealue.otsikko")

      .input-group(ng-if="$$ekEditing")
        input.form-control(type="text"
                           slocalized
                           ng-model="arvioinninKohdealue.otsikko"
                           placeholder="{{ 'otsikko-puuttuu' | kaanna }}")

        .input-group-addon.linkki(ng-click="poistaArvioinninKohdealue(arvioinninKohdealue)")
          +icon("trash-o")
        .input-group-addon.sortable-item-handle
          +gicon("sort")

    .box-panel-content
      .arviointi-kohteet(ui-sortable="sortableOptionsArvioinninKohteet" ng-model="arvioinninKohdealue.arvioinninKohteet")
        div(ng-repeat="arviointiKohde in arvioinninKohdealue.arvioinninKohteet")
          +arviointiKohde

      .uusi-arviointi-kohde(ng-show="arvioinninKohdealue.$$uusiAuki" ng-if="$$ekEditing")
        +arviointiAsteikko

      button.btn.btn-primary(ng-if="$$ekEditing" ng-click="lisaaArviointiKohde(arvioinninKohdealue)" ng-hide="arvioinninKohdealue.$$uusiAuki")
        +icon("plus")
        span=" "
        span(kaanna="'lisaa-arviointi-kohde'")


mixin tosaSisalto()
  div(ng-show="$$showSisalto")
    div(ng-if="pTosa")
      +perusteenTosaSisalto
    div(ng-if="!pTosa")
      +omaTosaSisalto

.tutkinnonosa
  div(ng-hide="$$ekEditing" style="margin-bottom: 20px;")
    +toggler("$$showSisalto", "'toteutus'", "'sisalto'")

  hr(ng-show="$$ekEditing")
  +tosaToteutus
  +tosaSisalto
