mixin tosaToteutus()
  div(ng-show="$$showToteutus")
    div(ng-if="$$ekEditing")
      +contentToggler("$$showTavatjaymparisto", "'tavat-ja-ymparisto'")
        div(style="margin-bottom: 16px" ckeditor slocalized ng-model="osa.tosa.tavatjaymparisto.teksti" layout="normal")

      +contentToggler("$$showArvioinnista", "'osaamisen-arvioinnista'")
        div(style="margin-bottom: 16px" ckeditor slocalized ng-model="osa.tosa.arvioinnista.teksti" layout="normal")

    div(ng-if="!$$ekEditing")
      +contentToggler("$$showTavatjaymparisto", "'tavat-ja-ymparisto'")
        +teksti("osa.tosa.tavatjaymparisto.teksti")

      +contentToggler("$$showArvioinnista", "'osaamisen-arvioinnista'")
        +teksti("osa.tosa.arvioinnista.teksti")

mixin ammattitaitovaatimukset
  p todo

mixin kriteeri
  .osaamistason-kriteeri
    div(ng-if="$$ekEditing")
      textarea.form-control(ng-model="kriteeri" slocalized placeholder="{{'kriteerin-teksti' | kaanna}}")
      div.painikkeet
        span.sortable-item-handle.pull-right
          +gicon("sort")
        span.pull-right.linkki(ng-click="poistaKriteeri(osaamistasonKriteeri, kriteeri)")
          +icon("trash-o")

mixin arviointiKohde
  .arviointi-kohde(ng-class="$$ekEditing ? 'muokkaus' : ''")
    div(ng-show="arviointiKohde._arviointiasteikko")

      .arviointi-kohde-otsikko(ng-if="$$ekEditing")
        .form-group
          .input-group(ng-if="$$ekEditing")
            input.form-control(type="text" ng-model="arviointiKohde.otsikko" slocalized placeholder="{{'arvioinnin-kohteen-otsikko' | kaanna}}")
            .input-group-addon.linkki(ng-click="poistaArvioinninKohde(arvioinninKohdealue, arviointiKohde)")
              +icon("trash-o")
            .input-group-addon.sortable-item-handle
              +gicon("sort")

        .form-group
          input.form-control(type="text" ng-model="arviointiKohde.selite" slocalized placeholder="{{'arvioinnin-kohteen-selite' | kaanna}}")

      h4(ng-if="!$$ekEditing")
        span(ng-if="arviointiKohde.otsikko" kaanna="arviointiKohde.otsikko")

      p(ng-if="!$$ekEditing")
        span(ng-if="arviointiKohde.selite" kaanna="arviointiKohde.selite")


      .table-responsive(ng-if="arviointiKohde._arviointiasteikko > 0")
        table.table.table-striped.table-condensed
          tbody
            tr(ng-repeat="(index, osaamistasonKriteeri) in arviointiKohde.osaamistasonKriteerit")
              td(kaanna="arviointiAsteikot[arviointiKohde._arviointiasteikko - 1].osaamistasot[index].otsikko")
              td
                ul(ng-if="!$$ekEditing")
                  li(kaanna="kriteeri" ng-repeat="kriteeri in osaamistasonKriteeri.kriteerit")

                div(ng-if="$$ekEditing")
                  .osaamistason-kriteerit(ui-sortable="sortableOptionsOsaamistasonKriteerit"
                                          ng-model="osaamistasonKriteeri.kriteerit")
                    div(ng-repeat="kriteeri in osaamistasonKriteeri.kriteerit")
                      +kriteeri
                  div.clearfix
                  div.painikkeet
                    span.linkki.pull-right(ng-click="lisaaKriteeri(osaamistasonKriteeri)")
                      +icon("plus")

mixin arviointiAsteikko
  .arviointi-asteikko
    div(ng-repeat="arviointiAsteikko in arviointiAsteikot")
      .radio
        label
          input(type="radio" ng-model="arvioinninKohdealue.$$uusiArvioinninKohdealue._arviointiasteikko" ng-value="arviointiAsteikko.id")
          span(ng-repeat="osaamistaso in arviointiAsteikko.osaamistasot")
            span {{ osaamistaso.otsikko | kaanna }}{{{true: '', false: ' / '}[$last]}}
    div.painikkeet
      button.btn.btn-danger(type='button'
                             ng-click="arvioinninKohdealue.$$uusiAuki = !arvioinninKohdealue.$$uusiAuki"
                             ng-show="arvioinninKohdealue.$$uusiAuki" kaanna="'peruuta'")
      button.btn.btn-default(type='button' ng-click="lisaaArviointiasteikko(arvioinninKohdealue)" kaanna="'lisaa'")

mixin arviointi
  .arviointi
    .arviointi-otsikko
      h3(ng-if="!$$ekEditing")
        span(ng-if="arvioinninKohdealue.otsikko" kaanna="arvioinninKohdealue.otsikko")

      .input-group(ng-if="$$ekEditing")
        input.form-control(type="text"
                           slocalized
                           ng-model="arvioinninKohdealue.otsikko"
                           placeholder="{{ 'otsikko-puuttuu' | kaanna }}")

        .input-group-addon.linkki(ng-click="poistaArvioinninKohdealue(arvioinninKohdealue)" ng-if="$$ekEditing")
          +icon("trash-o")
        .input-group-addon.sortable-item-handle
          +gicon("sort")

    .arviointi-sisalto
      .arviointi-kohteet(ui-sortable="sortableOptionsArvioinninKohteet" ng-model="arvioinninKohdealue.arvioinninKohteet")
        div(ng-repeat="arviointiKohde in arvioinninKohdealue.arvioinninKohteet")
          +arviointiKohde


      div.uusi-arviointi-kohde(ng-show="arvioinninKohdealue.$$uusiAuki" ng-if="$$ekEditing")
        +arviointiAsteikko

      a(href="" ng-if="$$ekEditing" ng-click="lisaaArviointiKohde(arvioinninKohdealue)" ng-hide="arvioinninKohdealue.$$uusiAuki")
        +icon("plus")
        span=" "
        span(kaanna="'lisaa-arviointi-kohde'")


mixin tosaSisalto()
  div(ng-hide="$$showToteutus")
    div(ng-if="$$ekEditing")
      +contentToggler("$$showTavoitteet", "'tavoitteet'")
        div(style="margin-bottom: 16px" ckeditor slocalized ng-model="osa.tosa.omatutkinnonosa.tavoitteet" layout="normal")

      +contentToggler("$$showAmmattitaitovaatimukset", "'ammattitaitovaatimukset'")
        +ammattitaitovaatimukset

      +contentToggler("$$showArviointi", "'arviointi'")
        .arviointi-kohdealueet(ui-sortable="sortableOptionsArvioinninKohdealueet"
                               ng-model="osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet")
          div(ng-repeat="arvioinninKohdealue in osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet")
            +arviointi
        button.btn.btn-default(type='button' ng-click="lisaaArvioinninKohdealue()" kaanna="'lisaa-kohdealue'")

      +contentToggler("$$showAmmattitaidonOsoittamistavat", "'ammattitaidon-osoittamistavat'")
        div(style="margin-bottom: 16px" ckeditor slocalized ng-model="osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat" layout="normal")

    div(ng-if="!$$ekEditing")
      +contentToggler("$$showTavoitteet", "'tavoitteet'")
        +teksti("osa.tosa.omatutkinnonosa.tavoitteet")

      +contentToggler("$$showAmmattitaitovaatimukset", "'ammattitaitovaatimukset'")
        +ammattitaitovaatimukset

      +contentToggler("$$showArviointi", "'arviointi'")
        .arviointi-kohdealueet
          div(ng-repeat="arvioinninKohdealue in osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet")
            +arviointi("arvioinninKohdealue")

      +contentToggler("$$showAmmattitaidonOsoittamistavat", "'ammattitaidon-osoittamistavat'")
        +teksti("osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat")



.tutkinnonosa
  div(ng-hide="$$ekEditing" style="margin-bottom: 20px;")
    +toggler("$$showToteutus", "'toteutus'", "'sisalto'")

  +tosaToteutus
  +tosaSisalto

  //pre {{ arviointiAsteikot | json }}
  pre {{ osa.tosa.omatutkinnonosa.arviointi | json }}
