div.kasitteet
  div.row
    div.col-xs-6
      h2(ng-bind="'kasitteet' | kaanna")
        ohje(teksti="this is a test", otsikko="test title", suunta="top")
    div.col-xs-6
      div.input-group.input-group-sm
        input.form-control(type="text", placeholder="{{'haku-nimi' | kaanna}}", ng-model="nimi" ng-change="paivita()")
        span.input-group-btn
          button.btn.btn-default(ng-click="nimi = ''")
            i.fa.fa-times

  div.row
    div.col-xs-12
      table.table.table-striped.kasitteet-table
        thead
          tr
            th
              a(href="", ng-click="vaihdaJarjestys('Termi')")
                span(kaanna="'termi'")
                span(ng-show="jarjestys==='termi'")=" "
                span.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="jarjestysKaanteinen")
                span.glyphicon.glyphicon-sort-by-alphabet(ng-show="!jarjestysKaanteinen")
            th
              a(href="", ng-click="vaihdaJarjestys('Selitys')")
                span(kaanna="'selitys'")
                span(ng-show="jarjestys==='selitys'")=" "
                span.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="jarjestysKaanteinen")
                span.glyphicon.glyphicon-sort-by-alphabet(ng-show="!jarjestysKaanteinen")
        tbody
          tr(ng-repeat="kasite in kasitteet")
            td(href="", ng-bind="kasite.termi | kaanna")
            td
              div(ng-bind-html="kasite.selitys | kaanna")
            td
              a.btn.btn-warning.btn-sm.pull-right.btn-small-margin-left
                i.fa.fa-trash
              a.btn.btn-primary.btn-sm.pull-right(ng-click="editKasite(kasite)")
                i.fa.fa-pencil


  nav.text-center
    uib-pagination(
    ng-model="sivu",
    total-items="kasitteet.length",
    items-per-page="alkioitaSivulla",
    force-ellipses="true",
    direction-links="false"
    )