div.kasitteet
  div.row
    div.col-xs-6
      h2(ng-bind="'kasitteet' | kaanna")
        ohje(teksti="this is a test", otsikko="test title", suunta="top")
    div.col-xs-6
      div.input-group.input-group-sm
        input.form-control(type="text", placeholder="{{'haku-sana' | kaanna}}", ng-model="hakuSana")
        span.input-group-btn
          button.btn.btn-default(ng-click="nimi = ''")
            i.fa.fa-times

  div.row
    div.col-xs-12
      table.table.table-striped.kasitteet-table
        thead
          tr
            th
              a(href="", ng-click="sortBy = 'termi'; sortReverse = !sortReverse")
                span(kaanna="'termi'")
                span(ng-show="sortBy ==='termi'")=" "
                  span.glyphicon.glyphicon-sort-by-alphabet-alt(ng-show="sortReverse")
                  span.glyphicon.glyphicon-sort-by-alphabet(ng-show="!sortReverse")
            th
              a(href="")
                span(kaanna="'selitys'")
            th
              a(href="", ng-click="sortBy = 'alaviite'; sortReverse = !sortReverse; sortByAlaviite(sortReverse)")
                span(kaanna="'alaviite'")
                span(ng-show="sortBy ==='alaviite'")=" "
                  span.glyphicon.glyphicon-sort
            th
        tbody
          tr.kasite-placeholder-row(ui-view="uusi_kasite_row")
          tr(ng-show="!creatingNewKasite" ng-repeat="kasite in kasitteet | filter: hakuSana | orderBy:sortType:sortReverse")
            td(width="20%")
              div(ng-show="$$ekEditing && $$ekEditingIndex === $index")
                input.form-control(slocalized ng-model="kasite.termi" type="text" required=true)
              div(ng-show="!$$ekEditing || $$ekEditingIndex !== $index")
                p(ng-bind-html="kasite.termi | kaanna")
            td
              div(ng-show="$$ekEditing && $$ekEditingIndex === $index")
                div.form-control.ckeditor(ckeditor ng-model="kasite.selitys" slocalized layout="normal")
              div(ng-show="!$$ekEditing || $$ekEditingIndex !== $index")
                p(ng-bind-html="kasite.selitys | kaanna")
            td(width="90px")
              div.checkbox.abc-checkbox.alaviite(ng-show="$$ekEditing && $$ekEditingIndex === $index")
                input.styled(type="checkbox" checked="true" ng-model="kasite.alaviite")
                label
              div(ng-show="!$$ekEditing || $$ekEditingIndex !== $index")
                span.text-center(ng-if="kasite.alaviite")
                  +icon("check")
            td(width="90px")
              span.pull-right
                +removeButtonSmall("remove(kasite)")
              span.pull-right
                +editButtonSmall("edit($index)")


  nav.text-center
    uib-pagination(
      ng-model="sivu",
      total-items="kasitteet.length",
      items-per-page="alkioitaSivulla",
      force-ellipses="true",
      direction-links="false")
