div.dokumentti
  div.row
    div.col-xs-12
      h2(kaanna="'dokumentti'")
      p(ng-show="dokumenttiDto.tila === 'ei_ole'" kaanna="'dokumentti-ei-ole'")
      p(ng-show="dokumenttiDto.tila === 'epaonnistui'" kaanna="'dokumentti-epaonnistui'")

      div(ng-hide="dokumenttiDto.tila === 'luodaan'")
        p(ng-show="dokumenttiDto.tila === 'valmis'")
          b {{ 'luoja' | kaanna }}:
          span=" "
          span {{ dokumenttiDto.luoja }}
          span=" "
          b {{ 'luotu' | kaanna }}:
          span=" "
          span {{ dokumenttiDto.valmistumisaika | aikaleima }}

        a(ng-href="{{ linkki }}" target="_blank" ng-show="dokumenttiDto.tila === 'valmis'")
          button.btn.btn-default {{ 'lataa' | kaanna }} {{ 'pdf' | kaanna }}

        span(ng-show="dokumenttiDto.tila === 'valmis'")=" "

        button.btn.btn-default(ng-click="generoi()")
          span(kaanna="'luo-uusi-dokumentti'")

      div(ng-show="dokumenttiDto.tila === 'luodaan'")
        p
          span(kaanna="'luodaan-dokumenttia'")
        div.row
          div.col-xs-8
            div.progress
              div.progress-bar.progress-bar-striped.active(
              style="width: {{ edistymiset[dokumenttiDto.edistyminen] / edistymisetCount * 100 }}%;")
                span {{ edistymiset[dokumenttiDto.edistyminen] }} / {{ edistymisetCount }}
                span=" "
                span {{ dokumenttiDto.edistyminen }}

  div.row
    div.col-xs-12
      h2(kaanna="'lisaasetukset'")

      form.form-horizontal
        div.form-group
          label.col-xs-2(for="kansi")
            span(kaanna="'kansilehti'")
            span=":"
          div.col-xs-10
            input(id="kansi"
                  type='file'
                  name='file'
                  onchange='angular.element(this).scope().uploadFile(this.files)')
            img(ng-src="{{ kansi }}" height="100" onerror="this.style.display = 'none'")
        div.form-group
          label.col-xs-2(for="header")
            span(kaanna="'ylatunniste'")
            span=":"
          div.col-xs-10
            input(type="file" id="header")
            img(ng-src="{{ ylatunniste }}" height="100" onerror="this.style.display = 'none'")
        div.form-group
          label.col-xs-2(for="header")
            span(kaanna="'alatunniste'")
            span=":"
          div.col-xs-10
            input(type="file" id="footer")
            img(ng-src="{{ alatunniste }}" height="100" onerror="this.style.display = 'none'")
        //div.form-group
          div.col-xs-2
          div.col-xs-10
            button.btn.btn-default
              span(kaanna="'tallenna'")
