mixin opsTable(repetition)
  table.table.boxtable
    tbody
      tr(ng-hide="ops.$$hidden" ng-repeat=repetition)
        td
          div
            div(class="{{ 'tilavari-' + ops.tila }}")
            div
              a(href="" ng-click="toggleSuosikki(ops)")
                span.glyphicon.glyphicon-star(ng-class="{ 'suosikki-ops': !!suosikit[ops.id] }")
        td
          div
            a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
              span.ellipsis(ng-bind="ops.nimi | kaanna")
        // td
          div
            span.ellipsis(ng-show="ops.osaamisalat.length > 0", ng-bind="ops.osaamisalat[0].nimi | kaanna")
        // td
          div
        td
          div
            a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
              div
                span.glyphicon.glyphicon-chevron-right


div.otsikkotaso.kaikki-opetussuunnitelmat
  div(ng-hide="isEmpty(suosikit)")
    h3(ng-bind="'suosikki-opetussuunnitelmat' | kaanna")
    +opsTable("(opsId, ops) in suosikit")

  h3(ng-bind="'kaikki-opetussuunnitelmat' | kaanna")

  div(ng-hide="opetussuunnitelmat.length > 0")
    div.alert.alert-info
      div(ng-bind="'koulutustoimijalla-ei-ole-opetussuunnitelmia' | kaanna")
      div.pull-right(style="position: relative; top: -26px")
        button.btn.btn-primary(style="margin-right: 16px" ng-click="addOpetussuunnitelma()" oikeustarkastelu="muokkaus")
          +gicon("plus")
          span=" "
          span(ng-bind="'lisaa-opetussuunnitelma' | kaanna")
        button.btn.btn-primary.pull-right(ng-click="addYleinen()" oikeustarkastelu="muokkaus")
          +gicon("plus")
          span=" "
          span(ng-bind="'lisaa-yleinen' | kaanna")

  div(ng-show="opetussuunnitelmat.length > 0")
    div.row
      div.col-xs-5
        div.form-group.has-feedback.has-feedback-left
          input.form-control(ng-change="opsPaginatedUpdate(opsSearch)"
            type="text"
            ng-model="opsSearch"
            ng-model-options="{ debounce: 300 }"
            placeholder="{{ 'hae' | kaanna }}")
          i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")
      div.checkbox-text.col-xs-2
        div.checkbox
          label
            input(type="checkbox" ng-model="poistetut" ng-click="opsPaginatedUpdate(opsSearch)")
            span(ng-bind="'poistetut' | kaanna")
      div.col-xs-5
        div.pull-right
          button.btn.btn-default.pull-right(ng-click="addYleinen()" oikeustarkastelu="muokkaus")
            +gicon("plus")
            span=" "
            span(ng-bind="'lisaa-yleinen' | kaanna")
          button.btn.btn-default.pull-right(style="margin-right: 16px" ng-click="addOpetussuunnitelma()" oikeustarkastelu="muokkaus")
            +gicon("plus")
            span=" "
            span(ng-bind="'lisaa-opetussuunnitelma' | kaanna")

    +opsTable("ops in opsPaginated")
    nav.text-center
      ul.pagination
        li(ng-class="{ 'active': page === $$opsPaginatedPage.current }" ng-repeat=("page in $$opsPaginatedPage.pages"))
          a(href="" ng-click="opsPaginatedSelect(page)") {{ page + 1 }}


