div.otsikkotaso.kaikki-opetussuunnitelmat
  h3(kaanna="'kaikki-opetussuunnitelmat'")

  div(ng-hide="opetussuunnitelmat.length > 0")
    div.alert.alert-info
      div(kaanna="'koulutustoimijalla-ei-ole-opetussuunnitelmia'")
      div.pull-right(style="position: relative; top: -26px")
        button.btn.btn-primary(style="margin-right: 16px" ng-click="addOpetussuunnitelma()")
          +gicon("plus")
          span(kaanna="'lisaa-opetussuunnitelma'")
        button.btn.btn-primary.pull-right(ng-click="addYleinen()")
          +gicon("plus")
          span(kaanna="'lisaa-yleinen'")

  div(ng-show="opetussuunnitelmat.length > 0")
    div.row
      div.col-xs-5
        div.form-group.has-feedback.has-feedback-left
          input.form-control(ng-change="suodataOpetussuunnitelmat(opetussuunnitelmat, opsSearch)"
            type="text"
            ng-model="opsSearch"
            placeholder="{{ 'hae' | kaanna }}")
          i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")
      div.checkbox-text.col-xs-2
        // div.checkbox
          label
            input(type="checkbox")
            span(kaanna="'tarkennettu-haku'")
      div.col-xs-5
        div.pull-right
          button.btn.btn-default.pull-right(ng-click="addYleinen()")
            +gicon("plus")
            span(kaanna="'lisaa-yleinen'")
          button.btn.btn-default.pull-right(style="margin-right: 16px" ng-click="addOpetussuunnitelma()")
            +gicon("plus")
            span(kaanna="'lisaa-opetussuunnitelma'")

    table.table.boxtable
      thead
        tr
          th
          th
            a(href="#")
              span(kaanna="'tutkinnon-nimi'")
              span=" "
              span.glyphicon.glyphicon-sort-by-attributes
          // th
            a(href="#")
              span(kaanna="'osaamisala'")
              span=" "
              span.glyphicon.glyphicon-sort-by-attributes
          // th
            a(href="#")
              span(kaanna="'tutkinnon-tyyppi'")
              span=" "
              span.glyphicon.glyphicon-sort-by-attributes
          th
      tbody
        tr(ng-hide="ops.$$hidden" ng-repeat="ops in opetussuunnitelmat")
          td
            div
              div(class="{{ 'tilavari-' + ops.tila }}")
              div
                a(href="")
                  span.glyphicon.glyphicon-star
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                span.ellipsis(kaanna="ops.nimi")
          // td
            div
              span.ellipsis(ng-show="ops.osaamisalat.length > 0", kaanna="ops.osaamisalat[0].nimi")
          // td
            div
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                div
                  span.glyphicon.glyphicon-chevron-right
