mixin opsTable(repetition, forFriends)
  div.alert.alert-info(ng-if="opsPaginated.length === 0")
    span(ng-bind="'ei-hakutuloksia' | kaanna")
  div
    table.table.boxtable
      thead
        tr(ng-if=forFriends)
          th(width="6%" ng-bind="'tila' | kaanna")
          th(width="40%" ng-bind="'nimi' | kaanna")
          th(width="40%")
          th(width="2%")
          th
        tr(ng-if="!" + forFriends)
          th(width="6%" ng-bind="'tila' | kaanna")
          th(width="89%" ng-bind="'nimi' | kaanna")
          th(width="2%")
          th
      tbody
        tr(ng-hide="ops.$$hidden" ng-repeat=repetition)
          td
            div
              div(class="{{ 'tilavari-' + ops.tila }}")
              div
                a(href="" ng-click="toggleSuosikki(ops)")
                  span.glyphicon.glyphicon-star(ng-class="{ 'suosikki-ops': !!suosikit[ops.id] }")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                span.ellipsis(ng-bind="ops.nimi | kaanna")
          // td
            div
              span.ellipsis(ng-show="ops.osaamisalat.length > 0", ng-bind="ops.osaamisalat[0].nimi | kaanna")
          td(ng-if=forFriends)
            div
              span.ellipsis(ng-bind="ops.koulutustoimija.nimi | kaanna")
          td
            div
              div(style="text-align: center;")
                .fa.fa-pencil-square-o(ng-show="ops.$$oikeus")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                div
                  span.glyphicon.glyphicon-chevron-right


div.otsikkotaso.kaikki-opetussuunnitelmat
  div(ng-hide="isEmpty(suosikit)")
    h3(ng-bind="'suosikki-opetussuunnitelmat' | kaanna")
    table.table.boxtable
      thead
        tr
          th(width="6%" ng-bind="'tila' | kaanna")
          th(width="40%" ng-bind="'nimi' | kaanna")
          th(width="50%")
          th(width="3%")
          th
      tbody
        tr(ng-hide="ops.$$hidden" ng-repeat="(opsId, ops) in suosikit")
          td
            div
              div(class="{{ 'tilavari-' + ops.tila }}")
              div
                a(href="" ng-click="toggleSuosikki(ops)")
                  span.glyphicon.glyphicon-star(ng-class="{ 'suosikki-ops': !!suosikit[ops.id] }")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                span.ellipsis(ng-bind="ops.nimi | kaanna")
          td
            div
              span.ellipsis(ng-bind="ops.koulutustoimija.nimi | kaanna")
          td
            div
              div(style="text-align: center;")
                .fa.fa-pencil-square-o(ng-show="ops.$$oikeus")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                div
                  span.glyphicon.glyphicon-chevron-right

  div(ng-show="ystavaOpsit.length > 0")
    h3(ng-bind="'muiden-organisaatioiden-opsit' | kaanna")
    table.table.boxtable
      thead
        tr
          th(width="6%" ng-bind="'tila' | kaanna")
          th(width="40%" ng-bind="'nimi' | kaanna")
          th(width="50%")
          th(width="3%")
          th
      tbody
        tr(ng-hide="ops.$$hidden" ng-repeat="(opsId, ops) in ystavaOpsit")
          td
            div
              div(class="{{ 'tilavari-' + ops.tila }}")
              div
                a(href="" ng-click="toggleSuosikki(ops)")
                  span.glyphicon.glyphicon-star(ng-class="{ 'suosikki-ops': !!suosikit[ops.id] }")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                span.ellipsis(ng-bind="ops.nimi | kaanna")
          td
            div
              span.ellipsis(ng-bind="ops.koulutustoimija.nimi | kaanna")
          td
            div
              div(style="text-align: center;")
                .fa.fa-pencil-square-o(ng-show="ops.$$oikeus")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                div
                  span.glyphicon.glyphicon-chevron-right

  div(ng-if="!isOph")
    h3(ng-bind="'kaikki-opetussuunnitelmat' | kaanna")

    div
      div.row
        div.col-xs-4
          div.form-group.has-feedback.has-feedback-left
            input.form-control(ng-change="paivitaRajaus()"
              type="text"
              ng-model="rajain.nimi"
              ng-model-options="{ debounce: 300 }"
              placeholder="{{ 'hae' | kaanna }}")
            i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")
        div.col-xs-3
          .btn-group
            .pull-left
              select.form-control(title='tila'
                                  ng-model='rajain.tila'
                                  ng-options="tila as ('tila-'+tila) | kaanna for tila in tilat"
                                  ng-change='paivitaRajaus()')
                option(value='') {{'kaikki' | kaanna}}
        div.col-xs-5
          div.pull-right
            button.btn.btn-default.pull-right(ng-click="addYleinen()" oikeustarkastelu="lisays")
              +gicon("plus")
              span=" "
              span(ng-bind="'lisaa-yleinen' | kaanna")
            button.btn.btn-default.pull-right(style="margin-right: 16px" ng-click="addOpetussuunnitelma()" oikeustarkastelu="lisays")
              +gicon("plus")
              span=" "
              span(ng-bind="'lisaa-opetussuunnitelma' | kaanna")

      div(ng-if="opetussuunnitelmat.length === 0")
        div.alert.alert-info(ng-if="opsSearch !== ''")
          span(ng-bind="'ei-hakutuloksia' | kaanna")

        div.alert.alert-info(ng-if="opsSearch === ''")
          div(ng-bind="'koulutustoimijalla-ei-ole-opetussuunnitelmia' | kaanna")
          div.pull-right(style="position: relative; top: -26px")
            button.btn.btn-primary(style="margin-right: 16px" ng-click="addOpetussuunnitelma()" oikeustarkastelu="lisays")
              +gicon("plus")
              span=" "
              span(ng-bind="'lisaa-opetussuunnitelma' | kaanna")
            button.btn.btn-primary.pull-right(ng-click="addYleinen()" oikeustarkastelu="lisays")
              +gicon("plus")
              span=" "
              span(ng-bind="'lisaa-yleinen' | kaanna")

      div(ng-if="opetussuunnitelmat.length > 0")
        table.table.boxtable
          thead
            tr
              th(width="6%" ng-bind="'tila' | kaanna")
              th(width="78%" ng-bind="'nimi' | kaanna")
              th(width="12%" ng-bind="'koulutuskoodi' | kaanna")
              th(width="2%")
              th(width="2%")
              th
          tbody
            tr(ng-hide="ops.$$hidden" ng-repeat="ops in opetussuunnitelmat")
              td
                div
                  div(class="{{ 'tilavari-' + ops.tila }}")
                  div
                    a(href="" ng-click="toggleSuosikki(ops)")
                      span.glyphicon.glyphicon-star(ng-class="{ 'suosikki-ops': !!suosikit[ops.id] }")
              td
                div
                  a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                    span.ellipsis(ng-bind="ops.nimi | kaanna")
              td
                div(ng-if="ops.peruste.koulutukset")
                  span.small-ellipsis(
                      uib-tooltip="{{ops.peruste.koulutukset | formatArray:'koulutuskoodiArvo'}}"
                      tooltip-enable="(ops.peruste.koulutukset | formatArray:'koulutuskoodiArvo').length > 15"
                  )
                    span(ng-repeat="koulutus in ops.peruste.koulutukset") {{koulutus.koulutuskoodiArvo ? koulutus.koulutuskoodiArvo : '-'}}{{{false: ', ', true: ''}[$last]}}
                div(ng-if="!ops.peruste.koulutukset") -
              td
                div(style="text-align: center;")
                  .fa.fa-fax(ng-show="ops.tyyppi === 'yleinen'"
                      uib-tooltip="{{'jaettu-osa-info' | kaanna}}")
              td
                div(style="text-align: center;")
                  .fa.fa-pencil-square-o(ng-show="ops.$$oikeus"
                      uib-tooltip="{{'muokkaus-oikeus-info' | kaanna}}")
              td
                div
                  a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                    div
                      span.glyphicon.glyphicon-chevron-right

        nav.text-center
          ul.pagination(uib-pagination
                        total-items="pagination.kokonaismaara"
                        items-per-page="pagination.sivukoko"
                        ng-model="pagination.sivu"
                        previous-text="{{'edellinen' | kaanna}}"
                        next-text="{{'seuraava' | kaanna}}"
                        ng-change="paivitaRajaus(false)")
