div.otsikkotaso.kaikki-opetussuunnitelmat
  h3(ng-bind="'yhteisien-osien-pohjat' | kaanna")

  div(ng-hide="opetussuunnitelmat.length > 0")
    div.alert.alert-info
      div(ng-bind="'yhteisien-osien-pohjia-ei-viela-luotu' | kaanna")
      button.btn.btn-primary.pull-right(style="position: relative; top: -26px" ng-bind="'lisaa-uusi' | kaanna" ng-click="addPohja()")

  div(ng-show="opetussuunnitelmat.length > 0")
    div.row
      div.col-xs-5
        div.form-group.has-feedback.has-feedback-left
          input.form-control(ng-change="paivitaRajaus()"
            type="text"
            ng-model="rajain.nimi"
            ng-model-options="{ debounce: 300 }"
            placeholder="{{ 'hae' | kaanna }}")
          i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")
      div.checkbox-text.col-xs-5
        // div.checkbox
          label
            input(type="checkbox")
            span(ng-bind="'tarkennettu-haku' | kaanna")
      div.col-xs-2
        div.pull-right
          button.btn.btn-default(ng-bind="'lisaa-uusi' | kaanna" ng-click="addPohja()")


    table.table.boxtable
      tbody
        tr(ng-hide="ops.$$hidden" ng-repeat="ops in opetussuunnitelmat")
          td
            div
              div(class="{{ 'tilavari-' + ops.tila }}")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                span.ellipsis(ng-bind="ops.nimi | kaanna")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: ops.id })")
                div
                  span.glyphicon.glyphicon-chevron-right

    nav.text-center
          ul.pagination(uib-pagination
                        total-items="pagination.kokonaismaara"
                        items-per-page="pagination.sivukoko"
                        ng-model="pagination.sivu"
                        previous-text="{{'edellinen' | kaanna}}"
                        next-text="{{'seuraava' | kaanna}}"
                        ng-change="paivitaRajaus(false)")
