mixin author-time-signature
  table.tiedote-author-date(ng-if="!$$ekEditing || $$ekEditingIndex != $index")
    tr
      td(ng-bind="(tiedote.luotu || tiedote.muokattu) | aikaleima")
      td(ng-bind="tiedote.$$nimi")

// FIXME tyylien nimet??
div(ng-show="$$showTiedotteet" style="margin-bottom: 30px")
  h2(ng-bind="'tiedotteet' | kaanna")
  .tiedotteet-ylataso
    .alert.alert-info(ng-show="tiedotteet.length === 0")
      span(ng-bind="'tiedotteita-ei-ole' | kaanna")

    .tiedotteet(ng-show="!$$creatingNewTiedote" ng-repeat="tiedote in tiedotteet")
      .tiedote
        .tiedote-laatikko
          .pull-left(ng-show="tiedote.tarkea")
            .icon
              +icon("exclamation")
          .pull-left(ng-show="!tiedote.tarkea")
            .icon
              +icon("question")
          .tiedote-actions
            .pull-right(ng-if="!$$ekEditing")
              a(ng-click="edit($index)" href="")
                +icon("pencil")
              a(ng-click="kuittaa(tiedote)" href="")
                +icon("times")

          .tiedote-otsikko-editointi(ng-if="$$ekEditing && $$ekEditingIndex === $index")
            input.form-control(ng-model="tiedote.otsikko" type="text" required="true" placeholder="otsikko")

          .tiedote-otsikko
            p(ng-if="!$$ekEditing || $$ekEditingIndex !== $index" ng-bind="tiedote.otsikko ")
            +author-time-signature

          .tiedote-sisalto(ng-if="$$ekEditing && $$ekEditingIndex === $index")
            .form-control.ckeditor(ckeditor ng-model="tiedote.teksti" layout="normal")
          .tiedote-sisalto(ng-show="tiedote.$$isOpen" ng-if="!$$ekEditing || $$ekEditingIndex != $index" ng-bind-html="tiedote.teksti | unsafe")
          .tiedote-sisalto.checkbox.abc-checkbox(ng-if="$$ekEditing && $$ekEditingIndex === $index")
            input.styled(type="checkbox" checked="true" ng-model="tiedote.tarkea" id="tarkea-cb")
            label(for="tarkea-cb")
              strong(ng-bind="'tarkea' | kaanna")
            span.julkinen-btn-margin-left
              input.styled(type="checkbox" checked="true" ng-model="tiedote.julkinen" id="julkinen-cb")
              label(for="julkinen-cb")
                strong(ng-bind="'julkinen' | kaanna")

          .expand(ng-if="!$$ekEditing || $$ekEditingIndex != $index" ng-click="tiedote.$$isOpen = !tiedote.$$isOpen")
            a(href="")
              i.glyphicon.glyphicon-option-horizontal

    div(ng-if="$$creatingNewTiedote")
      div.add-tiedote-form.fx-fade-normal
        div.uusi-tiedote
          div.uusi-tiedote-laatikko.clearfix
            form.form-horizontal.col-xs-12
              .col-xs-12
                legend(ng-bind="'uusi-tiedote' | kaanna")
              .form-group
                label.col-xs-1.control-label(for="tiedote-otsikko" ng-bind="'otsikko' | kaanna")
                .col-xs-10
                  input.form-control(ng-model="newTiedote.otsikko" type="text" required="true")
              .form-group
                label.col-xs-1.control-label(for="tiedote-teksti" ng-bind="'sisalto' | kaanna")
                .col-xs-10
                  div(ckeditor ng-model="newTiedote.teksti" layout="normal")
              .form-group
                label.col-xs-1.control-label(ng-bind="'tarkea' | kaanna")
                .col-xs-1.checkbox.abc-checkbox
                  input.styled(type="checkbox" checked="true" ng-model="newTiedote.tarkea")
                  label &nbsp;
                label.col-xs-1.control-label(ng-bind="'julkinen' | kaanna")
                .col-xs-2.checkbox.abc-checkbox
                  input.styled(type="checkbox" checked="true" ng-model="newTiedote.julkinen")
                  label &nbsp;
                .col-xs-6.controls-padding-right
                  span.pull-right
                    span.btn.btn-warning.btn-small-margin-left(ng-click="cancel()" ng-bind="'peruuta' | kaanna")
                    span=" "
                    span.btn.btn-primary(ng-click="postTiedote(newTiedote)" ng-bind="'ok' | kaanna")

    button.btn.btn-primary(
      style="margin-right: 8px"
      ng-show="!$$creatingNewTiedote && $$showTiedotteet && !$$ekEditing"
      ng-click="setCreationState(true)"
      ng-bind="'lisaa-uusi-tiedote' | kaanna")
