div.otsikkotaso.ops-osa
  h3(ng-bind="'koulutustoimija-yhteinen-osat' | kaanna")

  div(ng-show="yhteiset.length > 0")
    div.row
      div.col-xs-10(style="margin-bottom: 10px;")
          .pull-left
            select.form-control(title='tila'
                                ng-model='rajain.tila'
                                ng-options="tila as ('tila-'+tila) | kaanna for tila in tilat"
                                ng-change='paivitaRajaus()')
              option(value='') {{'kaikki' | kaanna}}
      div.col-xs-2
        div.pull-right
          button.btn.btn-default(style="position: relative; top: -20px;" ng-bind="'lisaa-uusi' | kaanna" ng-click="addYhteinen()" oikeustarkastelu="lisays")

  div(ng-if="yhteiset.length === 0")
    div.alert.alert-info
      div(ng-bind="'koulutustoimijan-yhteista-osaa-ei-luotu' | kaanna")
      button.btn.btn-primary.pull-right(style="position: relative; top: -26px" ng-bind="'lisaa-uusi' | kaanna" ng-click="addYhteinen()" oikeustarkastelu="lisays")

  div(ng-if="yhteiset.length > 0")
    table.table.boxtable(style="margin-bottom: 0px;" ng-repeat="yhteinen in yhteiset")
      tbody
        tr
          td
            div
              div(class="{{ 'tilavari-' + yhteinen.tila }}")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: yhteinen.id })")
                span(ng-bind="yhteinen.nimi | kaanna")
          td
            div
              a(href="" ui-sref="root.koulutustoimija.opetussuunnitelmat.sisalto.tiedot({ opsId: yhteinen.id })")
                div(name="go")
                  span.glyphicon.glyphicon-chevron-right

    nav.text-center
      ul.pagination(uib-pagination
                    total-items="pagination.kokonaismaara"
                    items-per-page="pagination.sivukoko"
                    ng-model="pagination.sivu"
                    previous-text="{{'edellinen' | kaanna}}"
                    next-text="{{'seuraava' | kaanna}}"
                    ng-change="paivitaRajaus()")

