doctype html
html(lang="fi" ng-app="app")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // Prevent caching
    meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma' content='no-cache')
    meta(http-equiv='Expires' content='0')

    script(src="/virkailija-raamit/apply-raamit.js")
    link(rel="stylesheet" href="styles.css")

    include ./templates.jade
    script.
      var CKEDITOR_BASEPATH = window.location.origin + window.location.pathname + "/ckeditor/";
    script(src="amosaa-dependencies.js")
    script.
      // FIXME: Bug in SignalR 2.2.0 not supporting jQuery 3.x.x
      jQuery.fn.extend({
        load: function(fn) {
          return this.on("load", fn);
        }
      });

    script(src="amosaa-app.js")

    title="ePerusteet AMOSAA"
  body
    div(id="loading-bar-container" sticky)
      div
    div.container.container-margin
      div(ui-view="notifikaatiot")
      div.ui-view.raamit-amosaa-gap
      div.editointi-wrapper
        editointikontrollit
    // data-oc-skip-presurvey="true"
    script(id="oc-start-up"
           data-oc-service="0e8747a9-e9c5-4988-bdfb-f52371da5eea-160-A9C96659716C0DC43761C4D9B31CCEDAB5E5D7E0"
           data-oc-language="fi_FI"
           data-main="https://occhat.elisa.fi/ChatServer/Scripts/oc-chat"
           src="https://occhat.elisa.fi/ChatServer/Scripts/require.js")
