mixin listKayttajat(klista)
  .table-responsive
    table.table
      thead
        tr
          th(width="40%")
            span(ng-bind="'henkilo-nimi' | kaanna")
            span(ng-show="jarjestys === 'nimi'")
          th(width="40%")
            span(ng-bind="'organisaatio' | kaanna")
          th(width="20%")
            span(ng-bind="'oikeus' | kaanna")
      tbody
        tr(class="{{ (isSelf && 'success') || 'tyyppi-' + oikeus(kayttaja) }}"
          ng-show="suodata(kayttaja) && (!vainOikeudelliset || isSelf || oikeus(kayttaja) !== 'estetty')"
          ng-repeat="kayttaja in " + klista
          ng-init="isSelf = (me.oidHenkilo === kayttaja.oid)")
          td
            span(ng-show="kayttaja.$$nimi" ng-bind="kayttaja.$$nimi")
            span(ng-hide="kayttaja.$$nimi") ...
            span.special(ng-if="isSelf")
              +icon("user")
          td
            span(ng-bind="koulutustoimijat[kayttaja.koulutustoimija][0].nimi | kaanna")
          td
            span(ng-bind="'oikeus-' + oikeus(kayttaja) | kaanna")
            span.dropdown(ng-if="!isSelf" oikeustarkastelu="hallinta" uib-dropdown)
              a.dropdown-toggle(href="" uib-dropdown-toggle)
                i.fa.fa-chevron-down.fa-fw
              ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu)
                li(ng-repeat="ovaihtoehto in vaihtoehdot")
                  a(href="" ng-bind="'oikeus-' + ovaihtoehto | kaanna" ng-click="valitse(ovaihtoehto, kayttaja)")

div.oikeudet.subtle-transition
  h2(ng-bind="'oikeudet' | kaanna")
  div.row
    div.col-xs-8
      div.input-group.input-group
        input.form-control(
          type="text"
          placeholder="{{'haku-nimi' | kaanna}}"
          ng-model="search")
        span.input-group-btn
          button.btn.btn-default(ng-click="search = ''")
            +icon("times")
    div.col-xs-4
      .pull-right(style="top: -2px")
        +checkbox("vainOikeudelliset", "", "'vain-joilla-oikeuksia' | kaanna")

  div.row
    div.col-xs-12
      +listKayttajat("kayttajat")
