mixin gtext(type, name)
  +gicon(type)
  span=" "
  span(kaanna=name)

mixin kuva(tyyppi)
  div
    div(ng-hide=tyyppi + "Uploader.queue.length !== 0")
      p(ng-hide="!dokumenttiDto." + tyyppi)
        img(ng-src="{{ kuva." + tyyppi + " }}" class="img-responsive")
      span.btn.btn-danger(ng-click="poistaKuva('" + tyyppi + "')" ng-hide="!dokumenttiDto." + tyyppi)
        +gtext("trash", "poista")
      span(ng-hide="!dokumenttiDto." + tyyppi)=" "
      span.btn.btn-default.btn-file
        span(ng-bind="'lisaa-kuva' | kaanna")
        input(type="file" nv-file-select="" nv-file-drop="" uploader=tyyppi + "Uploader")
    span(ng-repeat="item in " + tyyppi + "Uploader.queue")
      div(ng-thumb="{ file: item._file, height: 100 }")
      p(ng-bind="item.file.name")
      button.btn.btn-default(type="button"
                            ng-click="item.remove()"
                            ng-disabled="item.isReady || item.isUploading || item.isSuccess")
        span(ng-bind="'peruuta' | kaanna")
      span=" "
      button.btn.btn-success(type="button"
                             ng-click="item.upload()"
                             ng-disabled="item.isReady || item.isUploading || item.isSuccess")
        +gtext("upload", "laheta")

div.dokumentti
  div.row
    div.col-xs-12
      h2(ng-bind="'dokumentti' | kaanna")
      p(ng-show="dokumenttiDto.tila === 'ei_ole'" ng-bind="'dokumentti-ei-ole' | kaanna")
      p(ng-show="dokumenttiDto.tila === 'epaonnistui'" ng-bind="'dokumentti-epaonnistui' | kaanna")

      div(ng-hide="dokumenttiDto.tila === 'luodaan'")
        p.tiedot(ng-show="dokumenttiDto.tila === 'valmis'")
          span
            b(ng-bind="'luotu' | kaanna")
            span=" "
            span(ng-bind="dokumenttiDto.valmistumisaika | aikaleima")

        a(ng-href="{{ linkki }}" target="_blank" ng-show="dokumenttiDto.tila === 'valmis'")
          button.btn.btn-default {{ "lataa" | kaanna }} {{ "pdf" | kaanna }}

        span(ng-show="dokumenttiDto.tila === 'valmis'")=" "

        button.btn.btn-default(ng-click="generoi()")
          span(ng-bind="'luo-uusi-dokumentti' | kaanna")

      div(ng-show="dokumenttiDto.tila === 'luodaan'")
        p(ng-bind="'luodaan-dokumenttia' | kaanna")
        div.row
          div.col-xs-8
            div.progress
              div.progress-bar.progress-bar-striped.active(
                  style="width: {{ edistymiset[dokumenttiDto.edistyminen] / edistymisetCount * 100 }}%;"
                  ng-if="dokumenttiDto.edistyminen !== 'tuntematon'")
                span {{ edistymiset[dokumenttiDto.edistyminen] }} / {{ edistymisetCount }}
                span=" "
                span {{ dokumenttiDto.edistyminen | kaanna }}
              div.progress-bar.progress-bar-striped.active(
                  style="width: 100%;"
                  ng-if="dokumenttiDto.edistyminen === 'tuntematon'")
                span(ng-bind="'luodaan' | kaanna")

  div.row
    div.col-xs-12
      h2(ng-bind="'lisaasetukset' | kaanna")

      form.form-horizontal
        div.form-group
          label.col-xs-2(for="kansikuva")
            span(ng-bind="'kansilehti' | kaanna")
            span=":"
          div.col-xs-10
            +kuva("kansikuva")
        div.form-group
          label.col-xs-2(for="header")
            span(ng-bind="'ylatunniste' | kaanna")
            span=":"
          div.col-xs-10
            +kuva("ylatunniste")
        div.form-group
          label.col-xs-2(for="header")
            span(ng-bind="'alatunniste' | kaanna")
            span=":"
          div.col-xs-10
            +kuva("alatunniste")
