mixin gtext(type, name)
  +gicon(type)
  span=" "
  span(kaanna=name)

mixin kuva(tyyppi)
  div
    div(ng-hide=tyyppi + "Uploader.queue.length !== 0")
      p
        a(ng-href="{{ kuva." + tyyppi + " }}" target="_blank")
          img(ng-src="{{ kuva." + tyyppi + " }}" class="img-responsive")
      span.btn.btn-danger(ng-click="poistaKuva('" + tyyppi + "')")
        +gtext("trash", "poista")
      span=" "
      span.btn.btn-default.btn-file
        span(kaanna="'valitse-uusi-kuva'")
        input(type="file" nv-file-select="" nv-file-drop="" uploader=tyyppi + "Uploader")
    span(ng-repeat="item in " + tyyppi + "Uploader.queue")
      p(ng-bind="item.file.name" style="height: 120px;")
      button.btn.btn-default(type="button"
                            ng-click="item.remove()"
                            ng-disabled="item.isReady || item.isUploading || item.isSuccess")
        span(kaanna="'peruuta'")
      span=" "
      button.btn.btn-success(type="button"
                             ng-click="item.upload()"
                             ng-disabled="item.isReady || item.isUploading || item.isSuccess")
        +gtext("upload", "laheta")

div.dokumentti
  div.row
    div.col-xs-12
      h2(kaanna="'dokumentti'")
      p(ng-show="dokumenttiDto.tila === 'ei_ole'" kaanna="'dokumentti-ei-ole'")
      p(ng-show="dokumenttiDto.tila === 'epaonnistui'" kaanna="'dokumentti-epaonnistui'")

      div(ng-hide="dokumenttiDto.tila === 'luodaan'")
        p.tiedot(ng-show="dokumenttiDto.tila === 'valmis'")
          span
            b(kaanna="'luotu'")
            span=" "
            span(ng-bind="dokumenttiDto.valmistumisaika | aikaleima")
          span
            b(kaanna="'luoja'")
            span=" "
            span(kaanna="dokumenttiDto.luoja")

        a(ng-href="{{ linkki }}" target="_blank" ng-show="dokumenttiDto.tila === 'valmis'")
          button.btn.btn-default {{ "lataa" | kaanna }} {{ "pdf" | kaanna }}

        span(ng-show="dokumenttiDto.tila === 'valmis'")=" "

        button.btn.btn-default(ng-click="generoi()")
          span(kaanna="'luo-uusi-dokumentti'")

      div(ng-show="dokumenttiDto.tila === 'luodaan'")
        p(kaanna="'luodaan-dokumenttia'")
        div.row
          div.col-xs-8
            div.progress
              div.progress-bar.progress-bar-striped.active(
              style="width: {{ edistymiset[dokumenttiDto.edistyminen] / edistymisetCount * 100 }}%;")
                span {{ edistymiset[dokumenttiDto.edistyminen] }} / {{ edistymisetCount }}
                span=" "
                span {{ dokumenttiDto.edistyminen }}

  div.row
    div.col-xs-12
      h2(kaanna="'lisaasetukset'")

      form.form-horizontal
        div.form-group
          label.col-xs-2(for="kansi")
            span(kaanna="'kansilehti'")
            span=":"
          div.col-xs-10
            +kuva("kansi")
        div.form-group
          label.col-xs-2(for="header")
            span(kaanna="'ylatunniste'")
            span=":"
          div.col-xs-10
            +kuva("ylatunniste")
        div.form-group
          label.col-xs-2(for="header")
            span(kaanna="'alatunniste'")
            span=":"
          div.col-xs-10
            +kuva("alatunniste")
